* {
  background-color: red;
  color: white;
}

.horti {
  font-size: 4em;
  width: 2em;
  text-align: center;
  padding: 1em;
}

.nossos-produtos {
  font-size: 4em;
  margin-left: 1em;
}

.fruteiro { 
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.fruta1 {
  display: flex;
  gap: 2em;
}

.fruta2 {
  display: flex;
  gap: 2em;
}

.caixa {
  display: flex;
  background-color: #F7E0CE;
  width: 25em;
  height: 35em;
  border-radius: 25%;
  position: relative;
}

.carrinho {
  background-color:#D3C5BB;
  width: 15em;
  height: 15em;
  border-radius: 25%;
  position: absolute;
  left: 4em;
  margin-top: 3em;
  display: flex;
  position: relative;
}

.carrinho p {
  background-color: #D3C5BB;
  position: absolute;
  left: 2em;
  bottom: 2em;
}

.tudo {
  display: flex;
  gap: 2em;
}